<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Oblig2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>no.hvl.dat108.Login</servlet-class>
		<init-param>
			<param-name>passord</param-name>
			<param-value>pe</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Handle</servlet-name>
		<servlet-class>no.hvl.dat108.Handle</servlet-class>
		<init-param>
			<param-name>passord</param-name>
			<param-value>pe</param-value>
		</init-param>
	</servlet>
	<context-param>
		<param-name>api-key</param-name>
		<param-value>h6Thd5guE4Kl12g3</param-value>
	</context-param>

</web-app>